// 公共样式

/**
 * table组件样式
 */
.table-container{
    .search-wrap{
        display: flex;
        flex-wrap: wrap;
        background: var(--bg3);
    }

    .search-wrap>div{
        line-height: 40px;
        padding: 0.2rem 0.8rem;
    }

    .button-wrap{
        display: flex;
        flex-wrap: wrap;
        padding-top: 0.6rem;
    }

    .button-wrap>div{
        line-height: 40px;
        padding: 0.2rem 0.8rem;
    }

    .table-wrap{
        padding: 1rem 0;
    }
    
    .pagination-wrap{
        padding-bottom: 0.2rem;
        text-align: right;
    }
}

/**
 * 滚动条样式
 */
.scroll-div::-webkit-scrollbar{
    width: 5px;
    height: 1px;
}
.scroll-div::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #909399;
}
.scroll-div::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #ededed;
}